In [1]:
import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import wordcloud as wc
from PIL import Image

In [ ]:
#Attempt at reading in CSVs as separate dataframes using a function
# Assign dataframe names
df_names = ["AppleTV","Hulu","Netflix","Prime"]

# Create an empty list
streaming_serv_list = []

# Append dataframes into the list
for c in range(len(df_names)):
    temp_df = pd.read_csv(df_names[c]+".csv")
    streaming_serv_list.append(temp_df)

print(streaming_serv_list)

[                                      title   type              genres  \
0                                Four Rooms  movie              Comedy
1                              Forrest Gump  movie      Drama, Romance
2                           American Beauty  movie               Drama
3                              Citizen Kane  movie      Drama, Mystery
4                                Metropolis  movie       Drama, Sci-Fi
...                                     ...    ...                 ...
18203  They Took Our Child: We Got Her Back     tv  Crime, Documentary
18204                                   NaN     tv                 NaN
18205                                   NaN     tv                 NaN
18206                                   NaN     tv              Comedy
18207                                   NaN     tv         Documentary

       releaseYear     imdbId  imdbAverageRating  imdbNumVotes  \
0           1995.0  tt0113101                6.7      113403.0
1           1994.0  tt0109830                8.8     2348885.0
2           1999.0  tt0169547                8.3     1238903.0
3           1941.0  tt0033467                8.3      477481.0
4           1927.0  tt0017136                8.3      192285.0
...            ...        ...                ...           ...
18203       2015.0  tt5056408                8.6          31.0
18204          NaN        NaN                NaN           NaN
18205       2025.0        NaN                NaN           NaN
18206       2018.0        NaN                NaN           NaN
18207       2021.0        NaN                NaN           NaN

      availableCountries
0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN
...                  ...
18203                NaN
18204                NaN
18205                NaN
18206                NaN
18207                NaN

[18208 rows x 8 columns],                                       title   type  \
0                                     Ariel  movie
1                       Shadows in Paradise  movie
2                              Forrest Gump  movie
3                         The Fifth Element  movie
4                        My Life Without Me  movie
...                                     ...    ...
10198                                   NaN     tv
10199  They Took Our Child: We Got Her Back     tv
10200                                   NaN     tv
10201     Cardcaptor Sakura: Clear Card Arc     tv
10202                        Faces of Music     tv

                                             genres  releaseYear      imdbId  \
0                            Comedy, Crime, Romance       1988.0   tt0094675
1                              Comedy, Drama, Music       1986.0   tt0092149
2                                    Drama, Romance       1994.0   tt0109830
3                         Action, Adventure, Sci-Fi       1997.0   tt0119116
4                                    Drama, Romance       2003.0   tt0314412
...                                             ...          ...         ...
10198  Action & Adventure, Sci-Fi & Fantasy, Comedy       2025.0         NaN
10199                            Crime, Documentary       2015.0   tt5056408
10200                      Animation, Comedy, Drama       2023.0         NaN
10201                  Adventure, Animation, Comedy       2018.0   tt6279576
10202                                   Documentary       2025.0  tt35460841

       imdbAverageRating  imdbNumVotes availableCountries
0                    7.4        8949.0                NaN
1                    7.5        7727.0                NaN
2                    8.8     2348885.0                NaN
3                    7.6      521815.0                NaN
4                    7.4       26140.0                NaN
...                  ...           ...                ...
10198                NaN           NaN                NaN
10199                8.6          31.0                NaN
10200                NaN           NaN                NaN
10201                7.7         879.0                NaN
10202                NaN           NaN                NaN

[10203 rows x 8 columns],                                 title   type                     genres  \
0                     American Beauty  movie                      Drama
1                   The Fifth Element  movie  Action, Adventure, Sci-Fi
2                   Kill Bill: Vol. 1  movie    Action, Crime, Thriller
3                             Jarhead  movie      Biography, Drama, War
4                          Unforgiven  movie             Drama, Western
...                               ...    ...                        ...
20731                             NaN     tv   Animation, Comedy, Drama
20732                             NaN     tv                    Reality
20733                      Ms. Rachel     tv                     Family
20734  American Manhunt: O.J. Simpson     tv                Documentary
20735                   Devil's Diner     tv              Drama, Horror

       releaseYear      imdbId  imdbAverageRating  imdbNumVotes  \
0           1999.0   tt0169547                8.3     1238903.0
1           1997.0   tt0119116                7.6      521815.0
2           2003.0   tt0266697                8.2     1236086.0
3           2005.0   tt0418763                7.0      213667.0
4           1992.0   tt0105695                8.2      448833.0
...            ...         ...                ...           ...
20731       2023.0         NaN                NaN           NaN
20732       2016.0         NaN                NaN           NaN
20733       2025.0  tt35406274                8.0          23.0
20734       2025.0  tt35456246                7.4        1148.0
20735       2025.0  tt35557166                7.2         289.0

      availableCountries
0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN
...                  ...
20731                NaN
20732                NaN
20733                NaN
20734                NaN
20735                NaN

[20736 rows x 8 columns],                    title   type                    genres  releaseYear  \
0                  Ariel  movie    Comedy, Crime, Romance       1988.0
1             Four Rooms  movie                    Comedy       1995.0
2         Judgment Night  movie      Action, Crime, Drama       1993.0
3           Forrest Gump  movie            Drama, Romance       1994.0
4           Citizen Kane  movie            Drama, Mystery       1941.0
...                  ...    ...                       ...          ...
70050       Abracadavers     tv    Action, Comedy, Sci-Fi       2019.0
70051  Tom Green Country     tv                   Reality       2025.0
70052                NaN     tv  Animation, Comedy, Drama       2023.0
70053        Ryan Trahan     tv                Reality-TV       2019.0
70054        Sivarapalli     tv                    Comedy       2025.0

           imdbId  imdbAverageRating  imdbNumVotes availableCountries
0       tt0094675                7.4        8949.0                NaN
1       tt0113101                6.7      113403.0                NaN
2       tt0107286                6.6       19627.0                NaN
3       tt0109830                8.8     2348885.0                NaN
4       tt0033467                8.3      477481.0                NaN
...           ...                ...           ...                ...
70050   tt8386640                8.2          40.0                NaN
70051  tt32832543                8.1          72.0                NaN
70052         NaN                NaN           NaN                NaN
70053  tt28487606                8.2          42.0                NaN
70054  tt31914057                7.4         120.0                NaN

[70055 rows x 8 columns]]