# <u>**Streaming Service Comparison**</u>

### **Objective:**
- Determine which streaming platform hosts the majority of content I enjoy so that I can pare down the services to which I subscribe. 

### **Data Sources:**
- [Netflix via Kaggle.com](https://www.kaggle.com/datasets/octopusteam/full-netflix-dataset)
- [Hulu via Kaggle.com](https://www.kaggle.com/datasets/octopusteam/full-hulu-dataset)
- [Prime via Kaggle.com](https://www.kaggle.com/datasets/octopusteam/full-amazon-prime-dataset/data)
- [AppleTV via Kaggle.com](https://www.kaggle.com/datasets/octopusteam/full-apple-tv-dataset)

## **Data Collection & Loading**

### **Import Pandas, Numpy, Matplotlib, Wordcloud, and PIL**

In [1]:
import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import wordcloud as wc
from PIL import Image

### **Data Load**

In [2]:
# Load in each file separately. 
# Plan to create a function for this or NOT
apple = pd.read_csv("AppleTV.csv")
hulu = pd.read_csv("Hulu.csv")
netflix = pd.read_csv("Netflix.csv")
prime = pd.read_csv("Prime.csv")

### **Apple**

In [3]:
# View each dataframe output
display(apple,hulu,netflix,prime)

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Four Rooms,movie,Comedy,1995.0,tt0113101,6.7,113546.0,NaN
1,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2354158.0,NaN
2,American Beauty,movie,Drama,1999.0,tt0169547,8.3,1241156.0,NaN
3,Citizen Kane,movie,"Drama, Mystery",1941.0,tt0033467,8.3,478085.0,NaN
4,Metropolis,movie,"Drama, Sci-Fi",1927.0,tt0017136,8.3,192628.0,NaN
...,...,...,...,...,...,...,...,...
18276,NaN,tv,Documentary,2021.0,NaN,NaN,NaN,NaN
18277,NaN,tv,NaN,2025.0,NaN,NaN,NaN,NaN
18278,NaN,tv,"Crime, Drama",2014.0,NaN,NaN,NaN,NaN
18279,NaN,tv,"Mystery, Family, Talk",2025.0,NaN,NaN,NaN,NaN
18280,NaN,tv,Reality,2025.0,NaN,NaN,NaN,NaN

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Ariel,movie,"Comedy, Crime, Romance",1988.0,tt0094675,7.4,8991.0,NaN
1,Shadows in Paradise,movie,"Comedy, Drama, Music",1986.0,tt0092149,7.5,7792.0,NaN
2,Finding Nemo,movie,"Adventure, Animation, Comedy",2003.0,tt0266543,8.2,1149529.0,NaN
3,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2354158.0,NaN
4,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,522699.0,NaN
...,...,...,...,...,...,...,...,...
10254,The Quintessential Quintuplets Specials,tv,"Animation, Comedy, Drama",2023.0,tt28499296,7.8,135.0,NaN
10255,Cardcaptor Sakura: Clear Card Arc,tv,"Adventure, Animation, Comedy",2018.0,tt6279576,7.7,880.0,NaN
10256,Wicked Game: Devil in the Desert,tv,"Crime, Documentary",2025.0,tt35747193,8.2,14.0,NaN
10257,Faces of Music,tv,Documentary,2025.0,tt35460841,8.1,13.0,NaN
10258,NaN,tv,Drama,2025.0,NaN,NaN,NaN,NaN

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,American Beauty,movie,Drama,1999.0,tt0169547,8.3,1241156.0,NaN
1,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,522699.0,NaN
2,Kill Bill: Vol. 1,movie,"Action, Crime, Thriller",2003.0,tt0266697,8.2,1238778.0,NaN
3,Jarhead,movie,"Biography, Drama, War",2005.0,tt0418763,7.0,214024.0,NaN
4,Unforgiven,movie,"Drama, Western",1992.0,tt0105695,8.2,449594.0,NaN
...,...,...,...,...,...,...,...,...
20872,American Manhunt: O.J. Simpson,tv,Documentary,2025.0,tt35456246,7.5,2400.0,NaN
20873,Devil's Diner,tv,"Drama, Horror",2025.0,tt35557166,7.1,453.0,NaN
20874,NaN,tv,NaN,NaN,NaN,NaN,NaN,NaN
20875,NaN,tv,NaN,2011.0,NaN,NaN,NaN,NaN
20876,NaN,tv,"Mystery, Family, Talk",2025.0,NaN,NaN,NaN,NaN

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Ariel,movie,"Comedy, Crime, Romance",1988.0,tt0094675,7.4,8991.0,NaN
1,Four Rooms,movie,Comedy,1995.0,tt0113101,6.7,113546.0,NaN
2,Judgment Night,movie,"Action, Crime, Drama",1993.0,tt0107286,6.6,19686.0,NaN
3,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2354158.0,NaN
4,Citizen Kane,movie,"Drama, Mystery",1941.0,tt0033467,8.3,478085.0,NaN
...,...,...,...,...,...,...,...,...
70289,NaN,tv,"Crime, Drama",2014.0,NaN,NaN,NaN,NaN
70290,Playing with Stu,tv,Animation,2024.0,tt32916495,NaN,NaN,NaN
70291,NaN,tv,Drama,2025.0,NaN,NaN,NaN,NaN
70292,Real Madrid: How Can I Not Love You,tv,"Documentary, Sport",2025.0,tt35696553,8.6,71.0,NaN
70293,Royal Murder Mysteries,tv,"Biography, Documentary, History",2017.0,tt7034176,7.5,72.0,NaN

In [4]:
# Dispaly information about the dataset (i.e., row counts, column counts, column names, datatypes, # of non-null rows)
apple.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18281 entries, 0 to 18280
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               17700 non-null  object
 1   type                18281 non-null  object
 2   genres              17607 non-null  object
 3   releaseYear         18249 non-null  float64
 4   imdbId              16775 non-null  object
 5   imdbAverageRating   16363 non-null  float64
 6   imdbNumVotes        16363 non-null  float64
 7   availableCountries  82 non-null     object
dtypes: float64(3), object(5)
memory usage: 1.1+ MB

In [5]:
apple.describe()

        releaseYear  imdbAverageRating  imdbNumVotes
count  18249.000000       16363.000000  1.636300e+04
mean    2006.867280           6.384807  2.547729e+04
std       18.398966           1.160929  1.008246e+05
min     1902.000000           1.300000  5.000000e+00
25%     2001.000000           5.700000  2.010000e+02
50%     2014.000000           6.500000  1.233000e+03
75%     2020.000000           7.200000  7.994000e+03
max     2025.000000          10.000000  2.354158e+06

In [6]:
apple.select_dtypes("object").describe()

,title,type,genres,imdbId,availableCountries
count,17700,18281,17607,16775,82
unique,17034,2,797,16772,14
top,Teenage Mutant Ninja Turtles,movie,Drama,tt0112120,US
freq,5,14007,1593,2,40

In [7]:
# Drop availableCountries Column - no value with such a low non-null number
apple.drop("availableCountries",axis=1,inplace=True)
apple.columns

Index(['title', 'type', 'genres', 'releaseYear', 'imdbId', 'imdbAverageRating',
       'imdbNumVotes'],
      dtype='object')

In [8]:
# Change releaseYear,  imdbNumVotes to integers 
# Display only the data types

apple[["releaseYear","imdbNumVotes"]] = apple[["releaseYear","imdbNumVotes"]].apply(np.int64)
display(apple.dtypes)

c:\Users\rkynhoff\OneDrive - University of Rochester\Documents\CodeLouisville\Streaming_Service_Comparisons\venv\Lib\site-packages\pandas\core\series.py:1031: RuntimeWarning: invalid value encountered in cast
  arr = np.asarray(values, dtype=dtype)

title                 object
type                  object
genres                object
releaseYear            int64
imdbId                object
imdbAverageRating    float64
imdbNumVotes           int64
dtype: object

In [9]:
# Rename Columns
apple.rename(columns={"title":"Title","type":"Type","genres":"Combined Genres","releaseYear":"Release Year","imdbId":"IMDb ID","imdbAverageRating":"IMDb Average Rating","imdbNumVotes":"IMDb Num Votes"},inplace = True)
# Add a column to hulu DF and entered a default value for each row & display bottom two rows
apple["Service Name"] = "AppleTV"
apple.columns

Index(['Title', 'Type', 'Combined Genres', 'Release Year', 'IMDb ID',
       'IMDb Average Rating', 'IMDb Num Votes', 'Service Name'],
      dtype='object')

In [10]:
# Determine how many titles contain null values
apple["Title"].isna().sum()

np.int64(581)

In [11]:
# Drop the rows contiaining null values in the Title column
apple = apple.dropna(subset=["Title"])
apple["Title"].isna().sum()

np.int64(0)

In [12]:
apple.duplicated().value_counts()

False    17698
True         2
Name: count, dtype: int64

In [13]:
apple[apple.duplicated(keep=False)]

,Title,Type,Combined Genres,Release Year,IMDb ID,IMDb Average Rating,IMDb Num Votes,Service Name
3486,A Personal Journey with Martin Scorsese Throug...,movie,"Biography, Documentary, History",1995,tt0112120,8.5,5201,AppleTV
13082,The Kidnap & Murder of Lynda Spence,movie,"Documentary, Crime",2023,NaN,NaN,-9223372036854775808,AppleTV
13084,The Kidnap & Murder of Lynda Spence,movie,"Documentary, Crime",2023,NaN,NaN,-9223372036854775808,AppleTV
13979,A Personal Journey with Martin Scorsese Throug...,movie,"Biography, Documentary, History",1995,tt0112120,8.5,5201,AppleTV

In [14]:
# Drop duplicate rows
apple.drop_duplicates()

,Title,Type,Combined Genres,Release Year,IMDb ID,IMDb Average Rating,IMDb Num Votes,Service Name
0,Four Rooms,movie,Comedy,1995,tt0113101,6.7,113546,AppleTV
1,Forrest Gump,movie,"Drama, Romance",1994,tt0109830,8.8,2354158,AppleTV
2,American Beauty,movie,Drama,1999,tt0169547,8.3,1241156,AppleTV
3,Citizen Kane,movie,"Drama, Mystery",1941,tt0033467,8.3,478085,AppleTV
4,Metropolis,movie,"Drama, Sci-Fi",1927,tt0017136,8.3,192628,AppleTV
...,...,...,...,...,...,...,...,...
18263,Settle Down,tv,Comedy,2025,tt19883272,7.8,45,AppleTV
18266,Conspirators,tv,Mystery,2025,tt35075008,5.4,57,AppleTV
18268,Extraordinary World,tv,Documentary,2025,tt34888944,NaN,-9223372036854775808,AppleTV
18271,They Took Our Child: We Got Her Back,tv,"Crime, Documentary",2015,tt5056408,8.6,31,AppleTV
18275,Burden of Guilt,tv,"Crime, Documentary, Mystery",2025,tt35523751,7.0,99,AppleTV

In [15]:
apple[apple.duplicated(subset=["IMDb ID","Title","Release Year"], keep=False)]

,Title,Type,Combined Genres,Release Year,IMDb ID,IMDb Average Rating,IMDb Num Votes,Service Name
3486,A Personal Journey with Martin Scorsese Throug...,movie,"Biography, Documentary, History",1995,tt0112120,8.5,5201,AppleTV
10633,Berlin 1945,movie,"Documentary, History, War",2020,tt12264166,8.2,353,AppleTV
12054,Last Call,movie,Documentary,2021,NaN,NaN,-9223372036854775808,AppleTV
12177,Last Call,movie,NaN,2021,NaN,NaN,-9223372036854775808,AppleTV
13082,The Kidnap & Murder of Lynda Spence,movie,"Documentary, Crime",2023,NaN,NaN,-9223372036854775808,AppleTV
13084,The Kidnap & Murder of Lynda Spence,movie,"Documentary, Crime",2023,NaN,NaN,-9223372036854775808,AppleTV
13329,De olhos abertos,movie,Animation,2023,NaN,NaN,-9223372036854775808,AppleTV
13558,De olhos abertos,movie,"Drama, War",2023,NaN,NaN,-9223372036854775808,AppleTV
13742,The Life and Murder of Nicole Brown Simpson,movie,"Biography, Crime, Documentary",2024,tt32267612,7.4,201,AppleTV
13979,A Personal Journey with Martin Scorsese Throug...,movie,"Biography, Documentary, History",1995,tt0112120,8.5,5201,AppleTV
16677,Berlin 1945,tv,"Documentary, History, War",2020,tt12264166,8.2,353,AppleTV
18141,The Life and Murder of Nicole Brown Simpson,tv,"Biography, Crime, Documentary",2024,tt32267612,7.4,201,AppleTV

In [16]:
apple = apple.drop_duplicates(subset=["IMDb ID","Title","Release Year"], keep="first")
rows = apple[apple["Title"] == "The Life and Murder of Nicole Brown Simpson"]
display(rows)

,Title,Type,Combined Genres,Release Year,IMDb ID,IMDb Average Rating,IMDb Num Votes,Service Name
13742,The Life and Murder of Nicole Brown Simpson,movie,"Biography, Crime, Documentary",2024,tt32267612,7.4,201,AppleTV

In [17]:
#apple.genres.value_counts()
# apple['genres'].str.split(',', expand=True)
apple[["Genre 1","Genre 2","Genre 3","Genre 4","Genre 5","Genre 6"]] = apple["Combined Genres"].str.split(',',expand=True)

display(apple)

,Title,Type,Combined Genres,Release Year,IMDb ID,IMDb Average Rating,IMDb Num Votes,Service Name,Genre 1,Genre 2,Genre 3,Genre 4,Genre 5,Genre 6
0,Four Rooms,movie,Comedy,1995,tt0113101,6.7,113546,AppleTV,Comedy,None,None,None,None,None
1,Forrest Gump,movie,"Drama, Romance",1994,tt0109830,8.8,2354158,AppleTV,Drama,Romance,None,None,None,None
2,American Beauty,movie,Drama,1999,tt0169547,8.3,1241156,AppleTV,Drama,None,None,None,None,None
3,Citizen Kane,movie,"Drama, Mystery",1941,tt0033467,8.3,478085,AppleTV,Drama,Mystery,None,None,None,None
4,Metropolis,movie,"Drama, Sci-Fi",1927,tt0017136,8.3,192628,AppleTV,Drama,Sci-Fi,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18263,Settle Down,tv,Comedy,2025,tt19883272,7.8,45,AppleTV,Comedy,None,None,None,None,None
18266,Conspirators,tv,Mystery,2025,tt35075008,5.4,57,AppleTV,Mystery,None,None,None,None,None
18268,Extraordinary World,tv,Documentary,2025,tt34888944,NaN,-9223372036854775808,AppleTV,Documentary,None,None,None,None,None
18271,They Took Our Child: We Got Her Back,tv,"Crime, Documentary",2015,tt5056408,8.6,31,AppleTV,Crime,Documentary,None,None,None,None
18275,Burden of Guilt,tv,"Crime, Documentary, Mystery",2025,tt35523751,7.0,99,AppleTV,Crime,Documentary,Mystery,None,None,None

### **Hulu**

In [18]:
# View top 5 rows in the hulu df
hulu.head()

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Ariel,movie,"Comedy, Crime, Romance",1988.0,tt0094675,7.4,8991.0,NaN
1,Shadows in Paradise,movie,"Comedy, Drama, Music",1986.0,tt0092149,7.5,7792.0,NaN
2,Finding Nemo,movie,"Adventure, Animation, Comedy",2003.0,tt0266543,8.2,1149529.0,NaN
3,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2354158.0,NaN
4,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,522699.0,NaN

In [19]:
hulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10259 entries, 0 to 10258
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               9610 non-null   object
 1   type                10259 non-null  object
 2   genres              9911 non-null   object
 3   releaseYear         10221 non-null  float64
 4   imdbId              9193 non-null   object
 5   imdbAverageRating   8885 non-null   float64
 6   imdbNumVotes        8885 non-null   float64
 7   availableCountries  43 non-null     object
dtypes: float64(3), object(5)
memory usage: 641.3+ KB

In [20]:
hulu.describe()

        releaseYear  imdbAverageRating  imdbNumVotes
count  10221.000000        8885.000000  8.885000e+03
mean    2011.730946           6.562544  3.644209e+04
std       13.962236           1.059277  1.490417e+05
min     1929.000000           1.900000  5.000000e+00
25%     2009.000000           6.000000  1.420000e+02
50%     2016.000000           6.700000  9.460000e+02
75%     2021.000000           7.300000  7.514000e+03
max     2025.000000           9.500000  3.010685e+06

In [21]:
hulu.select_dtypes("object").describe()

       title   type genres     imdbId availableCountries
count   9610  10259   9911       9193                 43
unique  9402      2    671       9189                  3
top     Prey  movie  Drama  tt1945851                 JP
freq       4   6070   1030          2                 27

In [22]:
# Drop availableCountries Column - no value with such a low non-null number
hulu.drop("availableCountries",axis=1,inplace=True)
hulu.columns

Index(['title', 'type', 'genres', 'releaseYear', 'imdbId', 'imdbAverageRating',
       'imdbNumVotes'],
      dtype='object')

In [23]:
# Change releaseYear,  imdbNumVotes to integers 
# Display only the data types

hulu[["releaseYear","imdbNumVotes"]] = hulu[["releaseYear","imdbNumVotes"]].apply(np.int64)
display(hulu.dtypes)

c:\Users\rkynhoff\OneDrive - University of Rochester\Documents\CodeLouisville\Streaming_Service_Comparisons\venv\Lib\site-packages\pandas\core\series.py:1031: RuntimeWarning: invalid value encountered in cast
  arr = np.asarray(values, dtype=dtype)

title                 object
type                  object
genres                object
releaseYear            int64
imdbId                object
imdbAverageRating    float64
imdbNumVotes           int64
dtype: object

In [24]:
# Rename Columns
hulu.rename(columns={"title":"Title","type":"Type","genres":"Combined Genres","releaseYear":"Release Year","imdbId":"IMDb ID","imdbAverageRating":"IMDb Average Rating","imdbNumVotes":"IMDb Num Votes"},inplace = True)
# Add column that identifies the streaming service
hulu["Service Name"] = "Hulu"
hulu.columns

Index(['Title', 'Type', 'Combined Genres', 'Release Year', 'IMDb ID',
       'IMDb Average Rating', 'IMDb Num Votes', 'Service Name'],
      dtype='object')

In [25]:
# Determine how many titles contain null values
hulu["Title"].isna().sum()

np.int64(649)

In [26]:
# Drop the rows contiaining null values in the Title column
hulu = hulu.dropna(subset=["Title"])
hulu["Title"].isna().sum()

np.int64(0)

In [27]:
hulu.duplicated().value_counts()

False    9608
True        2
Name: count, dtype: int64

In [28]:
hulu[hulu.duplicated(keep=False)]

,Title,Type,Combined Genres,Release Year,IMDb ID,IMDb Average Rating,IMDb Num Votes,Service Name
6863,The Gutsy Frog,tv,Comedy,2015,tt4658636,7.1,17,Hulu
7245,Scorned: Love Kills,tv,"Crime, Documentary",2012,tt2287041,6.9,304,Hulu
7246,Scorned: Love Kills,tv,"Crime, Documentary",2012,tt2287041,6.9,304,Hulu
8692,The Gutsy Frog,tv,Comedy,2015,tt4658636,7.1,17,Hulu

In [29]:
hulu.drop_duplicates()

,Title,Type,Combined Genres,Release Year,IMDb ID,IMDb Average Rating,IMDb Num Votes,Service Name
0,Ariel,movie,"Comedy, Crime, Romance",1988,tt0094675,7.4,8991,Hulu
1,Shadows in Paradise,movie,"Comedy, Drama, Music",1986,tt0092149,7.5,7792,Hulu
2,Finding Nemo,movie,"Adventure, Animation, Comedy",2003,tt0266543,8.2,1149529,Hulu
3,Forrest Gump,movie,"Drama, Romance",1994,tt0109830,8.8,2354158,Hulu
4,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997,tt0119116,7.6,522699,Hulu
...,...,...,...,...,...,...,...,...
10253,They Took Our Child: We Got Her Back,tv,"Crime, Documentary",2015,tt5056408,8.6,31,Hulu
10254,The Quintessential Quintuplets Specials,tv,"Animation, Comedy, Drama",2023,tt28499296,7.8,135,Hulu
10255,Cardcaptor Sakura: Clear Card Arc,tv,"Adventure, Animation, Comedy",2018,tt6279576,7.7,880,Hulu
10256,Wicked Game: Devil in the Desert,tv,"Crime, Documentary",2025,tt35747193,8.2,14,Hulu
10257,Faces of Music,tv,Documentary,2025,tt35460841,8.1,13,Hulu

In [30]:
hulu[hulu.duplicated(subset=["IMDb ID","Title","Release Year"], keep=False)]

,Title,Type,Combined Genres,Release Year,IMDb ID,IMDb Average Rating,IMDb Num Votes,Service Name
2640,Panzer World Galient,movie,"Action, Animation, Fantasy",1984,tt1945851,7.4,29,Hulu
5517,Shylock's Children,movie,"Crime, Drama",2023,tt21944604,6.4,128,Hulu
6863,The Gutsy Frog,tv,Comedy,2015,tt4658636,7.1,17,Hulu
7245,Scorned: Love Kills,tv,"Crime, Documentary",2012,tt2287041,6.9,304,Hulu
7246,Scorned: Love Kills,tv,"Crime, Documentary",2012,tt2287041,6.9,304,Hulu
8154,Panzer World Galient,tv,"Action, Animation, Fantasy",1984,tt1945851,7.4,29,Hulu
8692,The Gutsy Frog,tv,Comedy,2015,tt4658636,7.1,17,Hulu
9384,Shylock's Children,tv,"Crime, Drama",2023,tt21944604,6.4,128,Hulu

In [31]:
hulu = hulu.drop_duplicates(subset=["IMDb ID","Title","Release Year"], keep="first")
rows = hulu[hulu["Title"] == "Panzer World Galient"]
display(rows)

,Title,Type,Combined Genres,Release Year,IMDb ID,IMDb Average Rating,IMDb Num Votes,Service Name
2640,Panzer World Galient,movie,"Action, Animation, Fantasy",1984,tt1945851,7.4,29,Hulu

In [32]:
#Obtain max number of elements in the Genres column
hulu["Combined Genres"].str.split(", ",expand=True)

                 0            1        2     3     4     5     6
0           Comedy        Crime  Romance  None  None  None  None
1           Comedy        Drama    Music  None  None  None  None
2        Adventure    Animation   Comedy  None  None  None  None
3            Drama      Romance     None  None  None  None  None
4           Action    Adventure   Sci-Fi  None  None  None  None
...            ...          ...      ...   ...   ...   ...   ...
10253        Crime  Documentary     None  None  None  None  None
10254    Animation       Comedy    Drama  None  None  None  None
10255    Adventure    Animation   Comedy  None  None  None  None
10256        Crime  Documentary     None  None  None  None  None
10257  Documentary         None     None  None  None  None  None

[9606 rows x 7 columns]

In [33]:
# Split the elements in the Genres column while creating new columns for the max number 
hulu[["Genre 1","Genre 2","Genre 3","Genre 4","Genre 5","Genre 6","Genre 7"]] = hulu["Combined Genres"].str.split(',',expand=True)

hulu.head(2)

,Title,Type,Combined Genres,Release Year,IMDb ID,IMDb Average Rating,IMDb Num Votes,Service Name,Genre 1,Genre 2,Genre 3,Genre 4,Genre 5,Genre 6,Genre 7
0,Ariel,movie,"Comedy, Crime, Romance",1988,tt0094675,7.4,8991,Hulu,Comedy,Crime,Romance,None,None,None,None
1,Shadows in Paradise,movie,"Comedy, Drama, Music",1986,tt0092149,7.5,7792,Hulu,Comedy,Drama,Music,None,None,None,None

### **Netflix**

In [34]:
# View top 5 rows in the netflix df
netflix.head()

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,American Beauty,movie,Drama,1999.0,tt0169547,8.3,1241156.0,NaN
1,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,522699.0,NaN
2,Kill Bill: Vol. 1,movie,"Action, Crime, Thriller",2003.0,tt0266697,8.2,1238778.0,NaN
3,Jarhead,movie,"Biography, Drama, War",2005.0,tt0418763,7.0,214024.0,NaN
4,Unforgiven,movie,"Drama, Western",1992.0,tt0105695,8.2,449594.0,NaN

In [35]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20877 entries, 0 to 20876
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               20225 non-null  object
 1   type                20877 non-null  object
 2   genres              20528 non-null  object
 3   releaseYear         20842 non-null  float64
 4   imdbId              19356 non-null  object
 5   imdbAverageRating   19166 non-null  float64
 6   imdbNumVotes        19166 non-null  float64
 7   availableCountries  166 non-null    object
dtypes: float64(3), object(5)
memory usage: 1.3+ MB

In [36]:
netflix.describe()

       releaseYear  imdbAverageRating  imdbNumVotes
count  20842.00000       19166.000000  1.916600e+04
mean    2013.25060           6.395429  3.168670e+04
std       14.31544           1.094889  1.201913e+05
min     1913.00000           1.200000  5.000000e+00
25%     2012.00000           5.700000  3.260000e+02
50%     2018.00000           6.500000  1.583000e+03
75%     2022.00000           7.175000  1.006900e+04
max     2025.00000           9.800000  3.010685e+06

In [37]:
netflix.select_dtypes("object").describe()

,title,type,genres,imdbId,availableCountries
count,20225,20877,20528,19356,166
unique,19440,2,855,19353,103
top,Animal,movie,Comedy,tt6446792,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE..."
freq,5,15852,1757,2,11

In [38]:
# Drop availableCountries Column - no value with such a low non-null number
netflix.drop("availableCountries",axis=1,inplace=True)
netflix.columns

Index(['title', 'type', 'genres', 'releaseYear', 'imdbId', 'imdbAverageRating',
       'imdbNumVotes'],
      dtype='object')

In [39]:
# Change releaseYear,  imdbNumVotes to integers 
# Display only the data types

netflix[["releaseYear","imdbNumVotes"]] = netflix[["releaseYear","imdbNumVotes"]].apply(np.int64)
display(netflix.dtypes)

c:\Users\rkynhoff\OneDrive - University of Rochester\Documents\CodeLouisville\Streaming_Service_Comparisons\venv\Lib\site-packages\pandas\core\series.py:1031: RuntimeWarning: invalid value encountered in cast
  arr = np.asarray(values, dtype=dtype)

title                 object
type                  object
genres                object
releaseYear            int64
imdbId                object
imdbAverageRating    float64
imdbNumVotes           int64
dtype: object

In [40]:
# Rename Columns
netflix.rename(columns={"title":"Title","type":"Type","genres":"Combined Genres","releaseYear":"Release Year","imdbId":"IMDb ID","imdbAverageRating":"IMDb Average Rating","imdbNumVotes":"IMDb Num Votes"},inplace = True)
# Add column that identifies the streaming service
netflix["Service Name"] = "Netflix"
netflix.columns

Index(['Title', 'Type', 'Combined Genres', 'Release Year', 'IMDb ID',
       'IMDb Average Rating', 'IMDb Num Votes', 'Service Name'],
      dtype='object')

In [41]:
# Determine how many titles contain null values
netflix["Title"].isna().sum()

np.int64(652)

In [42]:
# Drop the rows contiaining null values in the Title column
netflix = netflix.dropna(subset=["Title"])
netflix["Title"].isna().sum()

np.int64(0)

In [43]:
netflix.duplicated().value_counts()

False    20225
Name: count, dtype: int64

In [44]:
netflix[netflix.duplicated(keep=False)]

Empty DataFrame
Columns: [Title, Type, Combined Genres, Release Year, IMDb ID, IMDb Average Rating, IMDb Num Votes, Service Name]
Index: []

In [45]:
netflix.drop_duplicates()

,Title,Type,Combined Genres,Release Year,IMDb ID,IMDb Average Rating,IMDb Num Votes,Service Name
0,American Beauty,movie,Drama,1999,tt0169547,8.3,1241156,Netflix
1,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997,tt0119116,7.6,522699,Netflix
2,Kill Bill: Vol. 1,movie,"Action, Crime, Thriller",2003,tt0266697,8.2,1238778,Netflix
3,Jarhead,movie,"Biography, Drama, War",2005,tt0418763,7.0,214024,Netflix
4,Unforgiven,movie,"Drama, Western",1992,tt0105695,8.2,449594,Netflix
...,...,...,...,...,...,...,...,...
20869,Ever Night,tv,"Action, Adventure, Animation",2024,tt32221651,NaN,-9223372036854775808,Netflix
20870,Surviving Black Hawk Down,tv,"Documentary, History, War",2025,tt35435624,7.5,1972,Netflix
20871,Ms. Rachel,tv,Family,2025,tt35406274,8.1,33,Netflix
20872,American Manhunt: O.J. Simpson,tv,Documentary,2025,tt35456246,7.5,2400,Netflix
20873,Devil's Diner,tv,"Drama, Horror",2025,tt35557166,7.1,453,Netflix

In [46]:
netflix[netflix.duplicated(subset=["IMDb ID","Title","Release Year"], keep=False)]

,Title,Type,Combined Genres,Release Year,IMDb ID,IMDb Average Rating,IMDb Num Votes,Service Name
6368,Gekijouban Yowamushi pedaru,movie,"Animation, Comedy, Romance",2015,tt4982154,6.7,160,Netflix
7269,Miniforce - New Heroes Rise,movie,"Action, Adventure, Animation",2016,tt6446792,6.1,55,Netflix
9403,The Best of the Wiggles,movie,"Music, Family",2018,NaN,NaN,-9223372036854775808,Netflix
10415,Lucid,movie,NaN,2019,NaN,NaN,-9223372036854775808,Netflix
10495,True and the Rainbow Kingdom,movie,"Adventure, Animation, Comedy",2017,tt5607658,7.0,582,Netflix
10930,Amr's in Trouble,movie,"Romance, Comedy",2019,NaN,NaN,-9223372036854775808,Netflix
11274,Lucid,movie,Drama,2019,NaN,NaN,-9223372036854775808,Netflix
13581,The Best of the Wiggles,movie,NaN,2018,NaN,NaN,-9223372036854775808,Netflix
14396,Amr's in Trouble,movie,NaN,2019,NaN,NaN,-9223372036854775808,Netflix
15016,De olhos abertos,movie,Animation,2023,NaN,NaN,-9223372036854775808,Netflix
15321,De olhos abertos,movie,"Drama, War",2023,NaN,NaN,-9223372036854775808,Netflix
17028,Miniforce - New Heroes Rise,tv,"Action, Adventure, Animation",2016,tt6446792,6.1,55,Netflix
17077,True and the Rainbow Kingdom,tv,"Adventure, Animation, Comedy",2017,tt5607658,7.0,582,Netflix
18706,Gekijouban Yowamushi pedaru,tv,"Animation, Comedy, Romance",2015,tt4982154,6.7,160,Netflix

In [47]:
netflix = netflix.drop_duplicates(subset=["IMDb ID","Title","Release Year"], keep="first")
rows = netflix[netflix["Title"] == "Gekijouban Yowamushi pedaru"]
display(rows)

,Title,Type,Combined Genres,Release Year,IMDb ID,IMDb Average Rating,IMDb Num Votes,Service Name
6368,Gekijouban Yowamushi pedaru,movie,"Animation, Comedy, Romance",2015,tt4982154,6.7,160,Netflix

In [48]:
#Obtain max number of elements in the Genres column
netflix["Combined Genres"].str.split(", ",expand=True)

                 0          1          2     3     4
0            Drama       None       None  None  None
1           Action  Adventure     Sci-Fi  None  None
2           Action      Crime   Thriller  None  None
3        Biography      Drama        War  None  None
4            Drama    Western       None  None  None
...            ...        ...        ...   ...   ...
20869       Action  Adventure  Animation  None  None
20870  Documentary    History        War  None  None
20871       Family       None       None  None  None
20872  Documentary       None       None  None  None
20873        Drama     Horror       None  None  None

[20218 rows x 5 columns]

In [49]:
# Split the elements in the Genres column while creating new columns for the max number 
netflix[["Genre 1","Genre 2","Genre 3","Genre 4","Genre 5"]] = netflix["Combined Genres"].str.split(',',expand=True)

netflix.head(2)

,Title,Type,Combined Genres,Release Year,IMDb ID,IMDb Average Rating,IMDb Num Votes,Service Name,Genre 1,Genre 2,Genre 3,Genre 4,Genre 5
0,American Beauty,movie,Drama,1999,tt0169547,8.3,1241156,Netflix,Drama,None,None,None,None
1,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997,tt0119116,7.6,522699,Netflix,Action,Adventure,Sci-Fi,None,None

### **Prime**

In [50]:
# View top 5 rows of prime df
prime.head()

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Ariel,movie,"Comedy, Crime, Romance",1988.0,tt0094675,7.4,8991.0,NaN
1,Four Rooms,movie,Comedy,1995.0,tt0113101,6.7,113546.0,NaN
2,Judgment Night,movie,"Action, Crime, Drama",1993.0,tt0107286,6.6,19686.0,NaN
3,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2354158.0,NaN
4,Citizen Kane,movie,"Drama, Mystery",1941.0,tt0033467,8.3,478085.0,NaN

In [51]:
prime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70294 entries, 0 to 70293
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               68616 non-null  object
 1   type                70294 non-null  object
 2   genres              68180 non-null  object
 3   releaseYear         70107 non-null  float64
 4   imdbId              63868 non-null  object
 5   imdbAverageRating   61528 non-null  float64
 6   imdbNumVotes        61528 non-null  float64
 7   availableCountries  360 non-null    object
dtypes: float64(3), object(5)
memory usage: 4.3+ MB

In [52]:
prime.describe()

        releaseYear  imdbAverageRating  imdbNumVotes
count  70107.000000       61528.000000  6.152800e+04
mean    2007.576861           5.953641  1.325969e+04
std       18.926605           1.369628  7.572154e+04
min     1902.000000           1.000000  5.000000e+00
25%     2004.000000           5.100000  1.010000e+02
50%     2015.000000           6.100000  4.450000e+02
75%     2019.000000           6.900000  2.317000e+03
max     2026.000000          10.000000  3.010685e+06

In [53]:
prime.select_dtypes("object").describe()

          title   type genres     imdbId availableCountries
count     68616  70294  68180      63868                360
unique    63589      2   1465      63845                 96
top     Monster  movie  Drama  tt1781790                 US
freq          9  61100   6765          2                108

In [54]:
# Drop availableCountries Column - no value with such a low non-null number
prime.drop("availableCountries",axis=1,inplace=True)
prime.columns

Index(['title', 'type', 'genres', 'releaseYear', 'imdbId', 'imdbAverageRating',
       'imdbNumVotes'],
      dtype='object')

In [55]:
# Change releaseYear,  imdbNumVotes to integers 
# Display only the data types
prime[["releaseYear","imdbNumVotes"]] = prime[["releaseYear","imdbNumVotes"]].apply(np.int64)
display(prime.dtypes)

c:\Users\rkynhoff\OneDrive - University of Rochester\Documents\CodeLouisville\Streaming_Service_Comparisons\venv\Lib\site-packages\pandas\core\series.py:1031: RuntimeWarning: invalid value encountered in cast
  arr = np.asarray(values, dtype=dtype)

title                 object
type                  object
genres                object
releaseYear            int64
imdbId                object
imdbAverageRating    float64
imdbNumVotes           int64
dtype: object

In [56]:
# Rename Columns
prime.rename(columns={"title":"Title","type":"Type","genres":"Combined Genres","releaseYear":"Release Year","imdbId":"IMDb ID","imdbAverageRating":"IMDb Average Rating","imdbNumVotes":"IMDb Num Votes"},inplace = True)
# Add column that identifies the streaming service
prime["Service Name"] = "Prime"
prime.columns

Index(['Title', 'Type', 'Combined Genres', 'Release Year', 'IMDb ID',
       'IMDb Average Rating', 'IMDb Num Votes', 'Service Name'],
      dtype='object')

In [57]:
# # Add a column to the prime df and entered a default value for each row & display bottom two rows
# prime["Service Name"] = "Prime" - done above, but keeping notes below for future function building
# prime.tail(2) 

# map function for creating column and populating each cell within each df with the df name

# create a dictionary with the list of the names of df and have it look at the df name to populate the column

In [58]:
# Determine how many titles contain null values
prime["Title"].isna().sum()

np.int64(1678)

In [59]:
# Drop the rows contiaining null values in the Title column
prime = prime.dropna(subset=["Title"])
prime["Title"].isna().sum()

np.int64(0)

In [60]:
prime.duplicated().value_counts()

False    68612
True         4
Name: count, dtype: int64

In [61]:
prime[prime.duplicated(keep=False)]

,Title,Type,Combined Genres,Release Year,IMDb ID,IMDb Average Rating,IMDb Num Votes,Service Name
25222,Burn,movie,NaN,2014,NaN,NaN,-9223372036854775808,Prime
36061,Belle,movie,"Fantasy, Horror",2023,tt12373754,5.4,169,Prime
42998,Burn,movie,NaN,2014,NaN,NaN,-9223372036854775808,Prime
45434,Belle,movie,"Fantasy, Horror",2023,tt12373754,5.4,169,Prime
50643,Flower Boy,movie,NaN,2021,NaN,NaN,-9223372036854775808,Prime
51439,Flower Boy,movie,NaN,2021,NaN,NaN,-9223372036854775808,Prime
63945,Scorned: Love Kills,tv,"Crime, Documentary",2012,tt2287041,6.9,304,Prime
63946,Scorned: Love Kills,tv,"Crime, Documentary",2012,tt2287041,6.9,304,Prime

In [62]:
prime.drop_duplicates()

,Title,Type,Combined Genres,Release Year,IMDb ID,IMDb Average Rating,IMDb Num Votes,Service Name
0,Ariel,movie,"Comedy, Crime, Romance",1988,tt0094675,7.4,8991,Prime
1,Four Rooms,movie,Comedy,1995,tt0113101,6.7,113546,Prime
2,Judgment Night,movie,"Action, Crime, Drama",1993,tt0107286,6.6,19686,Prime
3,Forrest Gump,movie,"Drama, Romance",1994,tt0109830,8.8,2354158,Prime
4,Citizen Kane,movie,"Drama, Mystery",1941,tt0033467,8.3,478085,Prime
...,...,...,...,...,...,...,...,...
70284,Ryan Trahan,tv,Reality-TV,2019,tt28487606,8.1,47,Prime
70285,Sivarapalli,tv,Comedy,2025,tt31914057,7.7,159,Prime
70290,Playing with Stu,tv,Animation,2024,tt32916495,NaN,-9223372036854775808,Prime
70292,Real Madrid: How Can I Not Love You,tv,"Documentary, Sport",2025,tt35696553,8.6,71,Prime
70293,Royal Murder Mysteries,tv,"Biography, Documentary, History",2017,tt7034176,7.5,72,Prime

In [63]:
prime[prime.duplicated(subset=["IMDb ID","Title","Release Year"], keep=False)]

,Title,Type,Combined Genres,Release Year,IMDb ID,IMDb Average Rating,IMDb Num Votes,Service Name
834,Moses the Lawgiver,movie,Drama,1974,tt0072547,6.1,592,Prime
3313,Ferrari,movie,Drama,2003,tt0346946,7.0,928,Prime
6820,Icon,movie,"Action, Crime, Thriller",2005,tt0424176,5.6,1086,Prime
7755,Gone But Not Forgotten,movie,"Crime, Drama, Mystery",2005,tt0384736,6.1,732,Prime
7782,Category 7: The End of the World,movie,"Action, Adventure, Drama",2005,tt0468988,4.5,3046,Prime
...,...,...,...,...,...,...,...,...
68415,Gone But Not Forgotten,tv,"Crime, Drama, Mystery",2005,tt0384736,6.1,732,Prime
68520,Shylock's Children,tv,"Crime, Drama",2023,tt21944604,6.4,128,Prime
68731,Love Kills,tv,Horror,2023,tt16431352,6.3,11,Prime
68830,Living with the Dead,tv,"Crime, Drama, Mystery",2002,tt0289652,7.0,1496,Prime
70205,Atatürk 1881-1919,tv,"Biography, Drama, History",2024,tt15676170,8.8,7583,Prime

In [64]:
prime = prime.drop_duplicates(subset=["IMDb ID","Title","Release Year"], keep="first")
rows = prime[prime["Title"] == "Gone But Not Forgotten"]
display(rows)

,Title,Type,Combined Genres,Release Year,IMDb ID,IMDb Average Rating,IMDb Num Votes,Service Name
7755,Gone But Not Forgotten,movie,"Crime, Drama, Mystery",2005,tt0384736,6.1,732,Prime

In [65]:
#Obtain max number of elements in the Genres column
prime["Combined Genres"].str.split(", ",expand=True)

                 0            1        2     3     4     5
0           Comedy        Crime  Romance  None  None  None
1           Comedy         None     None  None  None  None
2           Action        Crime    Drama  None  None  None
3            Drama      Romance     None  None  None  None
4            Drama      Mystery     None  None  None  None
...            ...          ...      ...   ...   ...   ...
70284   Reality-TV         None     None  None  None  None
70285       Comedy         None     None  None  None  None
70290    Animation         None     None  None  None  None
70292  Documentary        Sport     None  None  None  None
70293    Biography  Documentary  History  None  None  None

[68579 rows x 6 columns]

In [66]:
# Split the elements in the Genres column while creating new columns for the max number 
prime[["Genre 1","Genre 2","Genre 3","Genre 4","Genre 5","Genre 6"]] = prime["Combined Genres"].str.split(',',expand=True)
prime.head(2)

,Title,Type,Combined Genres,Release Year,IMDb ID,IMDb Average Rating,IMDb Num Votes,Service Name,Genre 1,Genre 2,Genre 3,Genre 4,Genre 5,Genre 6
0,Ariel,movie,"Comedy, Crime, Romance",1988,tt0094675,7.4,8991,Prime,Comedy,Crime,Romance,None,None,None
1,Four Rooms,movie,Comedy,1995,tt0113101,6.7,113546,Prime,Comedy,None,None,None,None,None

In [67]:
# Merge the dataframes to append them to the end of each other since using the same column names
streaming = pd.concat([apple, hulu, netflix, prime], axis = 0)

In [68]:
streaming.info()

<class 'pandas.core.frame.DataFrame'>
Index: 116097 entries, 0 to 70293
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Title                116097 non-null  object
 1   Type                 116097 non-null  object
 2   Combined Genres      113890 non-null  object
 3   Release Year         116097 non-null  int64
 4   IMDb ID              109159 non-null  object
 5   IMDb Average Rating  105909 non-null  float64
 6   IMDb Num Votes       116097 non-null  int64
 7   Service Name         116097 non-null  object
 8   Genre 1              113890 non-null  object
 9   Genre 2              75950 non-null   object
 10  Genre 3              44365 non-null   object
 11  Genre 4              115 non-null     object
 12  Genre 5              26 non-null      object
 13  Genre 6              3 non-null       object
 14  Genre 7              1 non-null       object
dtypes: float64(1), int64(2), object(12)
memory usage: 14.2+ MB

In [69]:
streaming.describe()

       Release Year  IMDb Average Rating  IMDb Num Votes
count  1.160970e+05        105909.000000    1.160970e+05
mean  -7.308976e+15             6.151099   -8.093897e+17
std    2.595391e+17             1.290265    2.609645e+18
min   -9.223372e+18             1.000000   -9.223372e+18
25%    2.005000e+03             5.400000    7.900000e+01
50%    2.015000e+03             6.300000    5.050000e+02
75%    2.020000e+03             7.100000    3.270000e+03
max    2.026000e+03            10.000000    3.010685e+06

In [70]:
streaming.duplicated().value_counts()

False    116097
Name: count, dtype: int64

In [71]:
streaming[streaming.duplicated(keep=False)]

Empty DataFrame
Columns: [Title, Type, Combined Genres, Release Year, IMDb ID, IMDb Average Rating, IMDb Num Votes, Service Name, Genre 1, Genre 2, Genre 3, Genre 4, Genre 5, Genre 6, Genre 7]
Index: []

In [72]:
streaming["Title"].isnull().value_counts()

Title
False    116097
Name: count, dtype: int64

In [73]:
streaming["IMDb ID"].isnull().value_counts()

IMDb ID
False    109159
True       6938
Name: count, dtype: int64

In [74]:
streaming[streaming["Title"] == "Tracker"]

,Title,Type,Combined Genres,Release Year,IMDb ID,IMDb Average Rating,IMDb Num Votes,Service Name,Genre 1,Genre 2,Genre 3,Genre 4,Genre 5,Genre 6,Genre 7
15199,Tracker,tv,"Crime, Drama",2024,tt13875494,7.1,18348,AppleTV,Crime,Drama,None,None,None,None,NaN
7106,Tracker,tv,"Crime, Drama",2024,tt13875494,7.1,18348,Hulu,Crime,Drama,None,None,None,None,None
11294,Tracker,movie,"Action, Adventure, Drama",2010,tt1414378,6.5,4291,Prime,Action,Adventure,Drama,None,None,None,NaN
61398,Tracker,tv,"Action, Drama, Romance",2001,tt0292858,6.0,467,Prime,Action,Drama,Romance,None,None,None,NaN

In [75]:
# # Assign dataset names & combine to read in as separate data frames

# list_of_names = ['Netflix','Hulu','Prime','AppleTV']

# # Created an empty list into which I can place the datasets
# combined_list = []

# # Used a function to append the datasets into the empty list I created above
# for i in range(len(list_of_names)):
#     temp_df = pd.read_csv(list_of_names[i]+".csv")
#     combined_list.append(temp_df)

### **Initial Checks**

In [76]:
# # Looking at file content of list in index 0 - Netflix - to determine column names, non-null counts, datatypes, and what the top five rows look like
# combined_list[0].info()
# combined_list[0].head(5)

In [77]:
# # Looking at file content of list in index 1 - Hulu - to determine column names, non-null counts, datatypes, and what the top five rows look like
# combined_list[1].info()
# combined_list[1].head(5)

In [78]:
# # Looking at file content of list in index 2 - Prime - to determine column names, non-null counts, datatypes, and what the top five rows look like
# combined_list[2].info()
# combined_list[2].head(5)

In [79]:
# # Looking at file content of list in index 3 - AppleTV - to determine column names, non-null counts, datatypes, and what the top five rows look like
# combined_list[3].info()
# combined_list[3].head(5)

### Initiall Review (02/10/2025)
- The "availableCountries" column will not provide much data going forward
- No dataset has a column for the source of the data, so this will need to be added

### Secondary Review (02/12/2025)
- Each dataset contains an "imdbId" column with the listing's IMDb ID, which is a string; this may come in handy 
- There are 3,514 missing titles
    - Prime = 2234
    - AppleTV = 651
    - Hulu = 2885
    - Netflix = 629
- There are 2,590 duplicated rows, among which many are from missing titles, though several are duplicate title names 
    - Apple = 2
    - Hulu = 651


### Breakdown:
#### Apple
- 565 Missing Titles
- 2 Dupliate Rows
#### Hulu:
- 651 Missing Titles
- 2 Duplicated Rows