In [ ]:
# df["columnName"] = df["columnname"].str.replace("\W","_",regex=True)

# apple["genres"] = apple["genres"].str.replace("\W"," ",regex=True)
# apple.head(2)

In [ ]:
# apple_split = apple["genres"].str.split(",",expand=True)
# display(apple_split)

In [ ]:
# Add a column to apple DF and entered a default value for each row & display bottom two rows
# apple["serviceName"] = "AppleTV"
# apple.tail(2)

In [ ]:
# column_list = apple.columns
# list(column_list)

In [ ]:
# apple["genre1"] = apple["genres"].str.get(0)
# apple["genre2"] = apple["genres"].str.get(1)
# apple["genre3"] = apple["genres"].str.get(2)
# apple["genre4"] = apple["genres"].str.get(3)
# apple["genre5"] = apple["genres"].str.get(4)

# display(apple)

In [ ]:
# attempts at reading in CSV files with a function
# def read_csvs(folder_path):
#     all_files = glob.glob(os.path.join(folder_path, "*.csv"))    

#     all_df = {}
#     for file in all_files:
#         file_name = os.path.basename(file).replace(".csv","")
#         df = pd.read_csv(file)
#         all_df[file_name] = df
#     return all_df

# folder_path = "Streaming_Service_Comparisons"
# dfs = read_csvs(folder_path)

# df_AppleTV = dfs["AppleTV"]

In [ ]:
# Attempts at reading in csv files with a function
# Assign dataset names & combine to read in as separate data frames

# list_of_names = ['Netflix','Hulu','Prime','AppleTV']

# Created an empty list into which I can place the datasets
# combined_list = []

# Used a loop to append the datasets into the empty list I created above
# for i in range(len(list_of_names)):
#     temp_df = pd.read_csv(list_of_names[i]+".csv")
#     combined_list.append(temp_df)

In [ ]:
# streaming_v3.loc[45537,"Combined_Genres"] = ["Animation","Horror"]
# streaming_v3.loc[:,"Combined_Genres"] = streaming_v3[:,"Combined_Genres"].apply(lambda x: [x])
# streaming_v3.iloc[13329,2].append(", Drama, War")

In [ ]:
#Attempt to concatenate a value from one cell with another value in another cell
# streaming_v3.iloc[45537,2] = str(streaming_v3.iloc[45537,2]) + ", Horror"

In [ ]:
# Dataframe view: 
#       ID  Date  Hour  Sales
# 0   Dave     1     0     10
# 1   Dave     1     1     20
# 2   Dave     1     2     30
# 3   Dave     2     0     40
# 4   Dave     2     1     50
# 5   Dave     2     2     60
# 6   Carl     1     0     15
# 7   Carl     1     1     25
# 8   Carl     1     2     35
# 9   Carl     2     0     45
# 10  Carl     2     1     55
# 11  Carl     2     2     65

# Example of something that might work 
# new = pd.DataFrame(columns=['ID','Date'])
# for hour in range(3):
#     tmp = df.where(df.Hour == hour).dropna(axis=0, how='all')
#     tmp[hour] = tmp['Sales']
#     tmp.drop(['Hour','Sales'], axis=1, inplace=True)
#     new = new.merge(tmp, how='outer', on=['ID','Date'])
# new.set_index(['ID','Date'], inplace=True)

# https://stackoverflow.com/questions/70697355/python-add-merge-rows-of-a-dataframe-together-based-on-multiple-conditions

In [ ]:
# grouped_dupes[["Combined_Genres","Title","Service_Name"]] = grouped_dupes[["Combined_Genres","Title","Service_Name"]].astype(str)

# df_grouped = grouped_dupes.groupby("Title")["Combined_Genres"].agg(", ".join).reset_index()

# df_grouped

In [ ]:
# df['All_Genres'] = df['Movie'].map(genre_mapping)
# # print(df)
# streaming_v3["Combined_Genres_2"] = streaming_v3["Title"].map(df_grouped)
# print(streaming_v3)

In [ ]:
# create a for loop with conditions based on columns that are the same then concat(column name)

# for v in grouped_dupes:
#     if (grouped_dupes["Title"] == grouped_dupes["Title"]):
#         if (grouped_dupes["Serivce_Name"] == grouped_dupes["Service_Name"]):
#             if (grouped_dupes["Release_Year"] == grouped_dupes["Release_Year"]):
#                 grouped_dupes.groupby("Combined_Genres")
#     else:
#         break

# grouped_dupes()

                     
    #                  "Combined_Genres","Release_Year","Service_Name"] == grouped_dupes["Title","Combined_Genres","Release_Year","Service_Name"]:
    #     pd.concat["Title","Content_Type","Combined_Genres","Release_Year","IMBd_ID","IMDb_Avg_Rating","IMDb_Votes_Count","Service_Name"]
    # else:
    #     break

In [ ]:
# for index, row in grouped_dupes.iterrows:
#     if row(grouped_dupes["Title"]) == row(grouped_dupes["Title"]) and row(grouped_dupes["Service_Name"]) == row(grouped_dupes["Service_Name"]) and row(grouped_dupes["Release_Year"]) == row(grouped_dupes["Release_Year"]):
#         pd.concat["Combined_Genres"]
#     else:
#         break 

# https://stackoverflow.com/questions/67612391/loop-through-rows-and-compare-two-columns-and-apply-logic-and-change-one-column

In [ ]:
# text = " ".join(cat for cat in streaming_clean[streaming_clean["Content_Type"] == 1]["Combined_Genres"])
# wordcloud = WordCloud(width=600,height=400,background_color='black',).generate(text)
# plt.imshow(wordcloud,interpolation='bilinear')
# plt.axis('off')
# plt.show()

In [ ]:
# x = streaming_clean["Service_Name"]
# y = streaming_clean["Content_Type"]

# plt.bar(x,y)
# plt.show()

In [ ]:
# streaming_clean["Service_Name"] = pd.Categorical(streaming_clean["Service_Name"])
# streaming_clean.groupby("Service_Name")["Content_Type"].plot(kind='bar')

In [ ]:
# streaming_clean.plot(x="Service_Name)

In [ ]:
# grouped = streaming_clean.groupby(["Service_Name","Content_Type"]).sum().unstack()
# grouped.plot(kind='barh')
# plt.show()

In [ ]:
# data = streaming_clean["Combined_Genres","Service_Name"]

In [ ]:
# Counts of the content type by streaming sesrvice
# sn.countplot(streaming_clean,x="Service_Name", hue="Content_Type",palette=)

In [ ]:
# Counts of the content type by streaming sesrvice
# sn.countplot(streaming_clean, x = "Content_Type", hue = "Service_Name", palette = ["#A3AAAE","#1CE783","#831010","#FF9900"])

In [ ]:
# https://stackoverflow.com/questions/70917937/how-to-set-a-specific-color-for-each-bar-in-a-barplot
# colors = [(163/255, 170/255, 174/255, 1), (0, 157/255, 220/255, 1), (28/255, 231/255, 131/255, 1),(0, 25/255, 8/255, 1),(216/255, 31/255, 38/255, 1), (34/255, 31/255, 31/255, 1),(163/255, 170/255, 174/255, 1),(35/255, 47/255, 62/255, 1)]

# sn.catplot(x = "Content_Type", hue = "Service_Name", data = streaming_clean, kind = "bar", palette = colors)

In [ ]:
# Create the outline of md for data dictionary
# prices_md_table = prices.head().to_markdown(index = False)
# print(prices_md_table)

In [ ]:
# display(streaming_v4[streaming_v4["Title"] == "Aurora"])
# display(streaming_v4[streaming_v4["Title"] == "De olhos abertos"]) 
# display(streaming_v4[streaming_v4["Title"] == "Fences"])
# display(streaming_v4[streaming_v4["Title"] == "Imago"])
# display(streaming_v4[streaming_v4["Title"] == "Fences"])
# display(streaming_v4[streaming_v4["Title"] == "Leonardo: The Man Who Saved Science"])
# display(streaming_v4[streaming_v4["Title"] == "Stealing Chaplin"])
# display(streaming_v4[streaming_v4["Title"] == "When life gives you lemons"])